*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    width: 100%;
    color:white;
    background-color: black;
    height: 80px;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    
}


.icons{
    display: flex;
    width: 60px;
    height: 32px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
} 

.container {
    position: relative;
    /* text-align: center; */
    
  }
  .top-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 12px;
    right: 16px;
    width: 220px;
    height: 35px;
    /* background-color: violet; */
    font-size: 18px;
  }  

  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.main{
    width:80vw;
    height: 110px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(62, 62, 206);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    position: absolute;
    /* font-size: 40px; */
} 
.text h1{
    font-size: 70px;
}
.last{
    width: 210px;
    height: 40px;
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.vl {
    border-left: 2px solid rgb(121, 124, 121);
    height: 60px;
  }